<nav>
    <div><a href="{{ path('home') }}">Accueil</a></div>
    <div><a href="{{ path('app_test')}}">Test</a></div>
    <div><a href="{{ path('app_test2')}}">Test 2</a></div>
    <div><a href="{{ path('liste_villes')}}">Villes</a></div>
</nav>