{% extends 'base.html.twig' %}

{% block title %}Hello CompaniesController!{% endblock %}

{% block body %}
    <h1>Compagnies</h1>
    <table class="table">
        <thead>
            <th>#</th>
            <th>Nom</th>
            <th>Sigle</th>
            <th>Employés</th>
        </thead>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.nom }}</td>
                <td>{{ company.sigle }}</td>
                <td>{{ company.employes }}</td>
            </tr>
        {% endfor %}
    </table>



{% endblock %}
