{% extends "base.html.twig" %}

{% block title %}Détails compagnie{% endblock %}

{% block body %}
    
    <h1>Détails</h1>
    
    <p>Nom : {{company.nom}}</p>
    <p>Sigle : {{company.sigle}}</p>
    <p>Nombre d'employés : {{company.employes}}</p>

{% endblock %}