{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

{# <pre>
    {{ dump(liste) }}
</pre> #}

    <table>
        <thead>
            <tr>
                <th>Couleur</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in liste %}
                <tr>
                    <td>{{ligne.nom|upper}}</td>
                    <td>{{ligne.code}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <img src="{{ asset('img/image1.jpg') }}" alt="">

{% endblock %}
{% block footer %}Autre Pied de page{% endblock %}
